{
    "project": {
        "name": "maze-shared-autonomy",
        "mount": [],
        "exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.egg-info", "__pycache__", ".output"],  // ".png"
    },
    "machines": {
        "birch": {
            "docker": {
                "image": "diffusion-planning-ravens"
            },
            "mount_from_host": {
                "/ripl/user/projects/maze-shared-autonomy": "/data"
            },
        },
        "elm": {
            "docker": {
                "image": "ripl/diffusion-shared-autonomy"
            },
            "mount_from_host": {
                "/ripl/user/projects/diffusion-shared-autonomy": "/data"
            }
        }
    }
}
